.record {
  border: 1px solid #ccc;
  border-radius: 3px;
  list-style: none;
  display: flex;
  color: #666;
  justify-content: space-around;
  padding: 5px 0;
  height: 40px;
  align-items: center;
  background-color: antiquewhite;
  height: auto;
  width: 100%;
}

.record-calories {
  color: #012367;
  font-weight: bold;
}
