/* Form styles */

.form {
  background-color: var(--theme-background-ultralight);
  padding: 20px;
  border-radius: 10px;
  border: 1px solid var(--theme-background-normal);
}

.form label {
  color: var(--theme-color-dark);
  margin-right: 30px;
  margin-bottom: 10px;
}

.form input[type="text"],
.calories-input,
.form input[type="date"],
.form select {
  background-color: var(--theme-background-light);
  color: var(--theme-color-normal);
  border: 1px solid var(--theme-color-normal);
  padding: 10px;
  border-radius: 5px;
  width: 100%;
  min-width: 255px;
  margin-bottom: 20px;
  font-size: 16px;
  display: block;
  box-sizing: border-box;
}

.calories-input.error {
  border: 1px solid maroon;
  background-color: var(--theme-background-light);
  color: maroon;
}

.footer {
  display: flex;
}

.footer button {
  background-color: var(--theme-color-normal);
  color: var(--theme-background-light);
  display: block;
  border: 3px solid;
  border-radius: 15px;
  padding: 10px;
  cursor: pointer;
  flex-grow: 1;
}
